@model Entidades.Dominio.Drink

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Drink</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDrink" />
            <div class="form-group">
                <label asp-for="StrDrink" class="control-label"></label>
                <input asp-for="StrDrink" class="form-control" />
                <span asp-validation-for="StrDrink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrDescription" class="control-label"></label>
                <input asp-for="StrDescription" class="form-control" />
                <span asp-validation-for="StrDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrCategory" class="control-label"></label>
                <select asp-for="StrCategory" class="form-control" asp-items="ViewBag.StrCategory"></select>
                <span asp-validation-for="StrCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrGlass" class="control-label"></label>
                <select asp-for="StrGlass" class="form-control" asp-items="ViewBag.StrGlass"></select>
                <span asp-validation-for="StrGlass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrIngredient1" class="control-label"></label>
                <select asp-for="StrIngredient1" class="form-control" asp-items="ViewBag.StrIngredient"></select>
                <span asp-validation-for="StrIngredient1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrAlcoholic" class="control-label"></label>
                <select asp-for="StrAlcoholic" class="form-control" asp-items="ViewBag.StrAlcoholic"></select>
                <span asp-validation-for="StrAlcoholic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
